.promo {
  min-height: 1283px;
  position: relative;
  background-image:
    linear-gradient(to top, #fff, rgba(255,255,255,0)),
    url(../img/bg-1.jpg);
  background-size: 100% 465px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}

.promo__title {
  margin-top: 150px;
  text-align: center;
}

.promo__h1 {
  color: @blue;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.11);
}

.promo__comment {
  font-size: 30px;
  color: @blue;
}

.promo__slogan {
  color: #b2b2b2;
  font-size: 16px;
}

.promo__next {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  background-image: url(../img/icon-expand-arrow.png);
  background-repeat: no-repeat;
  background-size: 34px 18px;
  background-position: center;
}
